.my-section {
    border-bottom: 2px solid #d5d5d5;
    padding: 20px;
}

 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
     width: 100%;
  }

img {
    background-repeat: no-repeat; 
}

.jumbotron {
    font-family: 'Trebuchet MS', 'Helvetica';
    background-position: center top;
    display: flex;
    border-bottom: 2px solid #d5d5d5;
    padding: 20px;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1em;
    line-height: 1em;
}

footer {
    font-size: 1em;
    border-top: 2px solid #d5d5d5; 
    padding: 20px;
}

.css-typing
{
    width: 100%;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 3s steps(50, end);
    animation: type 3s steps(50, end);
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}
