<div class="share-page">
    Share this on &rarr;
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url }}&title={{ page.title }}&source={{ page.title }}">
    <kbd>
        <!-- use the linkedin logo for the link -->
        <img alt="..."
            class="footer-icon"
            width="28px"
            src="/files/Logo-2C-34px-R.png">
        </img>

        Linkedin
    </kbd>
</a>
<a href="https://plus.google.com/share?url=http://wchuanghard.github.io{{ page.url }}&hl=en-US"
 onclick="javascript:window.open(this.href,'',
  'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
    <kbd>
        <!-- use the google+ logo for the link -->
        <img
            alt="..."
            class="footer-icon"
            width="28px"
            src="https://www.gstatic.com/images/icons/gplus-16.png">
        </img>

        Google+
    </kbd>
</a>
</div>
