<!-- _includes/structured-data.html -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "William Chuang",
  "url": "https://williamchuang.github.io",
  "image": "https://williamchuang.github.io/files/me_at_Notre_Dame.jpg",
  "jobTitle": "Graduate Student",
  "worksFor": {
    "@type": "Organization",
    "name": "University of Arizona"
  },
  "sameAs": [
    "https://orcid.org/0009-0008-0796-9478",
    "https://www.researchgate.net/profile/William-Chuang",
    "https://scholar.google.com/citations?user=ZxTlNB8AAAAJ&hl=en",
    "https://www.linkedin.com/in/william-c-94173830b/",
    "https://github.com/williamchuang"
  ]
}
</script>

