/****
Navbar
****/
#navbarNav {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  padding-left: 44%;
}

/****
Body
****/
.img-circle {
  margin: 40px auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.img-circle:hover {
 -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.para-title {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Merriweather', serif;
  color: black;
}

/*****
Footer
*****/
footer {
  padding: 10px 0;
}
i {
  color: black;
  padding: 0 10px;
}

i:hover {
  color: gray;
}

.footer-para {
  font-size: 12px;
  padding-top: 25px;
}