<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	 
	<body>

		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<!--<li><a href="/about">About</a></li>-->
        		<li><a href="/files/william_chuang_cv.pdf">CV</a></li>
        		<!--<li><a href="/projects">Projects</a></li>-->
        		<!--<li><a href="/CS_Notes">CS Notes</a></li>-->
        		
        		<li><a href="/Math_and_Physics">Latest Posts</a></li>
        		<li><a href="/blog">Archives</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
			{% include footer.html %}
    		<ul>
			<!--<li><a href="mailto:whchuang@usfca.edu">email</a></li>-->
        		<li><a href="https://github.com/williamchuang">https://github.com/williamchuang</a></li>
			<!--<li><a href="https://twitter.com/WhatsTheNewIdea" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @WhatsTheNewIdea</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>-->
			<!--<li><a href="https://www.linkedin.com/in/whchuang"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_profile_bluetxt_80x15.png" width="80" height="15" border="0" alt="View William H. Chuang's profile on LinkedIn"></a></li>-->
			</ul>
		</footer>
	</body>
</html>
