<!DOCTYPE html>
<html>
	<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	 
	<body>

		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<!--<li><a href="/about">About</a></li>-->
        		<li><a href="/files/CV.pdf">CV</a></li>
        		<!--<li><a href="/projects">Projects</a></li>-->
        		<!--<li><a href="/CS_Notes">CS Notes</a></li>-->
        		
        		<li><a href="/Math_and_Physics">Latest Posts</a></li>
        		<li><a href="/blog">Archives</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
			{% include footer.html %}
    		<ul>
        		
			<li><a href="https://github.com/williamchuang">https://github.com/williamchuang</a></li>
			</ul>
		</footer>
	</body>
</html>
