---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
</div>
<a href="http://www.linkedin.com/shareArticle?mini=true&url=wchuanghard.github.io{{ include.url }}&title={{ include.title }}&source={{ include.title }}">
    <kbd>
        <!-- use the linkedin logo for the link -->
        <img alt="..."
            class="footer-icon"
            width="34px"
            src="/files/Logo-2C-34px-R.png">
        </img>

        Linkedin
    </kbd>
</a>

<!-- Disqus -->
{% if site.theme.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}
