---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
</div>
<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url }}&title={{ page.title }}&source={{ page.title }}">
    <kbd>
        <!-- use the linkedin logo for the link -->
        <img alt="..."
            class="footer-icon"
            width="34px"
            src="/files/Logo-2C-34px-R.png">
        </img>

        Linkedin
    </kbd>
</a>
<a href="https://plus.google.com/share?url={{ page.url }}&hl=en-US"
 onclick="javascript:window.open(this.href,'',
  'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
    <kbd>
        <!-- use the google+ logo for the link -->
        <img
            alt="..."
            class="footer-icon"
            width="28px"
            src="https://www.gstatic.com/images/icons/gplus-32.png">
        </img>

        Google+
    </kbd>
</a>

<!-- Disqus -->
{% if site.theme.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}
