---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
<!--<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>-->

  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.title }}</h1>

    <p class="meta">
    {{ page.date | date: "%B %-d, %Y" }}
    {% if page.author %} - {{ page.author }}{% endif %}
    </p>
  </header>

<section class="post">
  {{ content }}

<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url }}&title={{ page.title }}&source={{ page.title }}">
    <kbd>
        <!-- use the linkedin logo for the link -->
        <img alt="..."
            class="footer-icon"
            width="34px"
            src="/files/Logo-2C-34px-R.png">
        </img>

        Linkedin
    </kbd>
</a>
<a href="https://plus.google.com/share?url=http://wchuanghard.github.io{{ page.url }}&hl=en-US"
 onclick="javascript:window.open(this.href,'',
  'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
    <kbd>
        <!-- use the google+ logo for the link -->
        <img
            alt="..."
            class="footer-icon"
            width="28px"
            src="https://www.gstatic.com/images/icons/gplus-32.png">
        </img>

        Google+
    </kbd>
</a>
</section>
  {% include share-page.html %}
</article>
<!-- Disqus -->
{% if site.theme.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}
